{% extends 'base.html' %}

{% block titulo %}Criar perfil | {% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col">
        <div class='p-1 text-center'>
            <h3 class='mb-5'>Sobre</h3>
        </div>
        <p>Site feito como parte da A3 da matéria de <strong>Gestão e Qualidade de Software</strong> 2024.1 Unifacs Campus Santa Monica</p>
        <p></p>
        <p><strong>Membros da Equipe:</strong></p>
        <ul>
            <li>
                <a>Edu Araújo Maciel</a>
            </li>
            <li>
                <a>João Victor Souza Martins</a>
            </li>
            <li>
                <a>Lucas neves</a>
            </li>
            <li>
                <a>Marcos Felipe</a>
            </li>
            <li>
                <a>Pedro Moura</a>
            </li>
        </ul>
        <a href='https://github.com/Edu371/Unifacs2024.1'>Github</a>
    </div>
</div>

{% endblock %}
